name: Fill Results

on:
  schedule:
    - cron: "27 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-results-updater:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: master

    - uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run results updater
      env:
        THEODDSAPI_KEY: ${{ secrets.THEODDSAPI_KEY }}
        THESPORTSDB_KEY: ${{ secrets.THESPORTSDB_KEY }}
      run: python3 -m src.results.results

    - name: Commit and push changes
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions@github.com"
        git add data/*.csv
        git diff --staged --quiet && exit 0
        git commit -m "Update results - $(date -u +"%Y-%m-%d %H:%M:%S")"
        git pull --rebase origin master
        git push